<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">chanjet</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">清结算系统</a>
        </li>
    </ul>
</div>

<h3 class="page-title"> 表单提交 </h3>

<div>
    <div class="note note-info">
        <h3>表单</h3>
        <p>
            此页面实验表单提交功能
        </p>
    </div>
</div>

<div class="portlet-body form" data-ng-controller="formSubController">
    <form class="form-horizontal" novalidate role="form" name="userform">
        <div class="form-body">
            <div class="form-group">
                <label class="col-md-3 control-label">用户名</label>
                <div class="col-md-6"  ng-class="{'has-error':userform.name.$invalid&&userform.name.$dirty}">
                    <input type="text" class="form-control" placeholder="Enter text" ng-model="form.name" ng-pattern="validateRegExp.tel" name="name" required>
                    <span class="help-block" ng-show="userform.name.$invalid&&userform.name.$dirty">请输入用户名，用户名由英文字母汉子组成</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">简介</label>
                <div class="col-md-6">
                    <input type="text" class="form-control input-inline input-medium" placeholder="Enter text" ng-model="form.introduction">
                    <span class="help-block"> 请输入简介. </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">邮件地址</label>
                <div class="col-md-6">
                    <div class="input-inline input-medium">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input type="email" class="form-control" placeholder="Email Address" ng-model="form.mail1"> </div>
                    </div>
                    <span class="help-inline"> 请输入邮件地址. </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">邮件地址</label>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <input type="email" class="form-control" placeholder="Email Address" ng-model="form.mail2"> </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">密码</label>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="password" class="form-control" placeholder="Password" ng-model="form.password">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">不可编辑</label>
                <div class="col-md-6">
                    <input type="password" class="form-control" placeholder="Disabled" disabled> </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">只读模式</label>
                <div class="col-md-6">
                    <input type="password" class="form-control" placeholder="Readonly" readonly> </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">下拉菜单</label>
                <div class="col-md-6">
                    <select class="form-control" ng-model="form.option">
                        <option>Option 1</option>
                        <option value="Option 2">Option 2</option>
                        <option value="Option 3">Option 3</option>
                        <option value="Option 4">Option 4</option>
                        <option value="Option 5">Option 5</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">行内选择框</label>
                <div class="col-md-6">
                    <div class="checkbox-list">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox21" value="option1"> Checkbox 1 </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox22" value="option2"> Checkbox 2 </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox23" value="option3" disabled> Disabled </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">行内单选</label>
                <div class="col-md-6">
                    <div class="radio-list">
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadios" id="optionsRadios25" value="option1" checked> Option 1 </label>
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadios" id="optionsRadios26" value="option2" checked> Option 2 </label>
                        <label class="radio-inline">
                            <input type="radio" name="optionsRadios" id="optionsRadios27" value="option3" disabled> Disabled </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" ng-readonly="userform.name.$error.pattern||userform.name.$error.required" class="btn green" ng-click="sub()" ng-disabled="userform.$invalid">提交</button>
                    <button type="button" class="btn default">删除</button>
                </div>
            </div>
        </div>
    </form>
</div>